In [30]:
import operator #es mejor importar las librerías en la cabecera

In [28]:
#Estructura de lista

lista_ej=['Hola',123,0.45,True,False]
lista_ej

['Hola', 123, 0.45, True, False]

In [16]:
mithology=('Zeus','Hades','Artemis','Diego Armando Maradona')
mithology

('Zeus', 'Hades', 'Artemis', 'Diego Armando Maradona')

In [9]:
mithology=('Zeus','Zeus','Hades','Artemis')
mithology

('Zeus', 'Zeus', 'Hades', 'Artemis')

In [6]:
mithology[2]

'Hades'

In [7]:
#las tuplas no soportan que les den otros valores, ejemplo:
#mithology[2]=2 da error
#son inmutables

In [8]:
print(type(mithology)) #type dice el tipo de elemento

<class 'tuple'>

In [10]:
len(mithology) #dimensiones

4

In [11]:
for item in mithology: #iterar con for
    print(item)

Zeus
Zeus
Hades
Artemis

In [12]:
if 'Diegote' in mithology: #busqueda si el elemento existe
    print('Aguante!')
else:
    print('Pelusa!')

Pelusa!

In [21]:
#declarando con constructor: esto es cambiar el tipo de arreglo, para eso sirve tuple, por ejemplo
tuple_mithology=tuple(lista_ej)
print(tuple_mithology)
print(type(tuple_mithology))

('Hola', 123, 0.45, True, False)
<class 'tuple'>

DICCIONARIOS

In [38]:
#declarando un diccionario (0821 es agosto 2021)
miles_K_0821={'Volvo S60':19,
        'Mercedes G Class':22,
        'BMW S3':10}
print(type(miles_K_0821))
print(miles_K_0821)

<class 'dict'>
{'Volvo S60': 19, 'Mercedes G Class': 22, 'BMW S3': 10}

In [25]:
miles_K_0821['Volvo S60'] #dice el valor asignado a la tecla

19

In [27]:
len(miles_K_0821) #ver tamaño del diccionario

3

In [34]:
miles_K_ordenado=sorted(miles_K_0821.items(),key=operator.itemgetter(1))
print(miles_K_ordenado)
print(type(miles_K_ordenado))

[('BMW S3', 10), ('Volvo S60', 19), ('Mercedes G Class', 22)]
<class 'list'>

In [40]:
miles_K_0821['Volvo S60']=22 #se declara un nuevo valor a la key. Los diccionarios son mutables

In [49]:
miles_K_0821={'Volvo S60':19,
        'Mercedes G Class':22,
        'BMW S3':10,
        'BMW S3':25}
miles_K_0821

{'Volvo S60': 19, 'Mercedes G Class': 22, 'BMW S3': 25}

In [45]:
miles_K_0821.items()

dict_items([('Volvo S60', 19), ('Mercedes G Class', 22), ('BMW S3', 25)])

In [46]:
miles_K_0821.keys()

dict_keys(['Volvo S60', 'Mercedes G Class', 'BMW S3'])

In [47]:
miles_K_0821.values()

dict_values([19, 22, 25])

In [51]:
#borrando pares
del miles_K_0821['Volvo S60']

In [53]:
for k in miles_K_0821.keys():
    print(k)

Mercedes G Class
BMW S3

In [54]:
for k in miles_K_0821.values():
    print(k)

22
25

SETS

In [56]:
set_ej={'Item1','Item2','Diego Armando Maradona','Item3'}
set_ej

{'Diego Armando Maradona', 'Item1', 'Item2', 'Item3'}

In [57]:
#es inmutable, esto no sirve de nada: ej[1]='x'

In [58]:
type(set_ej)

set

In [66]:
set_ej={'Item1','Item2','Diego Armando Maradona','Item3','Item1','Item1'}
set_ej #cuando tiene items repetidos solo imprime el primero, en el caso de los diccionarios solo el último. las tuplas y las listas aceptan repeticiones.

{'Diego Armando Maradona', 'Item1', 'Item2', 'Item3'}

In [67]:
len(set_ej)

4

In [68]:
set_ej.add('Item8')
set_ej

{'Diego Armando Maradona', 'Item1', 'Item2', 'Item3', 'Item8'}

In [69]:
set_ej.remove('Item1')
set_ej

{'Diego Armando Maradona', 'Item2', 'Item3', 'Item8'}

In [76]:
#constructor
set_ej2=set(['Jenifer','Mariangel','Perla','Saul',10])
set_ej2

{10, 'Jenifer', 'Mariangel', 'Perla', 'Saul'}

In [74]:
print(type(set_ej2))
print(len(set_ej2))

<class 'set'>
5

In [77]:
#buscar si un  valor está dentro del set
'Perla' in set_ej2

True

In [78]:
10 in set_ej2

True

In [79]:
if 'Perla' in set_ej2:
    print('Hola')

Hola

In [84]:
for i in ['Juan','Ernesto','Jenifer']:
    if i in set_ej2:
        print(i+' presente')
    else:
        print(i+' se fue de pinta')

Juan se fue de pinta
Ernesto se fue de pinta
Jenifer presente

In [85]:
#En realidad el is y el in no se utilizan juntos
#Se puede usar “is not"
#is es similar a usar == , pero no tienen completamente el mismo comportamiento

UNIÓN, INTERSECCIÓN Y DIFERENCIA

In [87]:
lista_1=['Jenifer','Mariangel','Perla','Saul','Luis']
lista_2=['Juan','Ernesto','Jenifer','Chucho','Karla']

In [88]:
lista_1=set(lista_1)
lista_2=set(lista_2)

In [90]:
#intersección
a1_2g=lista_1.intersection(lista_2)
a1_2g

{'Jenifer'}

In [92]:
#unión
conv_v=lista_2.union(lista_2)
conv_v

{'Chucho', 'Ernesto', 'Jenifer', 'Juan', 'Karla'}

In [94]:
diferencia=lista_1-lista_2
diferencia

{'Luis', 'Mariangel', 'Perla', 'Saul'}